* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdf6f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #cfe0e8;
    padding: 20px;
    text-align: center;
}


header h1 {
    font-size: 2rem;
    color: #5d576b;
    margin-bottom: 10px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}