* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fdfdfd;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #1f4751;
}

header .logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

header nav ul li a:hover {
    text-decoration: underline;
}



.banner {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
              url('Rectangle.png') center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 20px;
}



.banner h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}


.banner .btn {
  background: linear-gradient(135deg, #2f318d6b, #62397e);
  color: white;
  padding: 12px 28px;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.banner .btn:hover {
    background: linear-gradient(135deg, #62397e, #2f318d6b);
    transform: scale(1.08);
    text-decoration: underline;
    box-shadow: 0 6px 20px rgba(0,0,0,0.5);
}

.informacion {
  padding: 60px 20px;
  text-align: center;
}

.informacion h2 {
  margin-bottom: 30px;
  color: #333;
}

.grid-informacion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.grid-informacion div {
  background: #f0f4f8;
  padding: 20px;
  border-radius: 10px;
}

.inscripcion {
  background: #1f4751;
  padding: 60px 20px;
  text-align: center;
}

.inscripcion h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.inscripcion form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: auto;
}

.inscripcion input, 
.inscripcion button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}

.inscripcion input {
  border: 1px solid #ccc;
}

.inscripcion button {
  background: #88bdbc;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.inscripcion button:hover {
  background: #6da3a3;
}

footer {
  text-align: center;
  padding: 20px;
  background: #88bdbc;
  color: white;
  margin-top: 40px;
}

@media (max-width: 900px) {
  .grid-informacion {
    grid-template-columns: 1fr;
  }

  header {
    flex-direction: column;
    gap: 10px;
  }
}
